<div class="blog" style="width: 18rem;">
<a href="/api/blogs/{{id}}">
    <div class="card-body">
        <h5 class="card-title caveat-text is-size-3">{{title}}</h5><span>By: {{user_id}}</span>
        
        <p class="card-text">{{content}}</p>
        <a href="/api/comments/{{id}}" class="card-link">Add a comment</a>
        
    </div>
</a>
</div>