<div class="container">
   
    <div class="card-backing box-shadow p-2">
        <a href="/api/blogs/{{blog.id}}">
            <div class="card-body box-shadow p-3 m-3">
                <h5 class="card-title caveat-text is-size-2">{{blog.title}}</h5><span class="blog-username">By: {{blog.user_id}}</span>
                <div class="column is-12 ibm-text">
                    <span class="comment-name">{{format_date blog.createdAt}}</span>
                </div>
                <div class="column is-12 ibm-text">
                    <p class="card-text ibm-text">{{blog.content}}</p>
                </div>
                <div class="comments card-backing box-shadow m-3 p-2">
                    <h3 class="comment-header caveat-text">Comments:</h3>
                    {{#each blog.comments as |comment|}}
                        {{> comment-details}}
                    {{/each}}
                </div>

                {{#if loggedIn}}
                <div class="columns">
                    <div class="m-3 card-backing container columns-3">
                        <form class="update-blog-form">
                            <input class="input form-control m-3 ibm-text box-shadow" id="blog-title" type="text" placeholder="Title">
                            <input class="textarea form-control m-3 ibm-text box-shadow" id="blog-content" placeholder="Blog content">
                            <button class="button m-3 ibm-text box-shadow" type="submit">Update Blog</button>
                        </form>
                    </div>
                </div>
                {{/if}}
            </div>
        </a>
    </div>
</div>
<script src="/js/update.js"></script>