<div class="container column is-multiline card-backing">
   
    <div class="card-backing card-body m-3">
        <a href="/blogs/{{blog.id}}">
            <div class="card-body p-3">
                <h5 class="card-title caveat-text is-size-2">{{blog.title}}</h5><span class="blog-username">By: {{blog.user_id}}</span>
                
                <p class="card-text ibm-text">{{blog.content}}</p>
                
                <div class="bdr comments card-backing m-3">
                    <h3 class="comment-header caveat-text">Comments:</h3>
                    {{#each blog.comments as |comment|}}
                        {{> comment-details}}
                    {{/each}}
                </div>

                
            </div>
        </a>
    </div>
  <div class="container m-3">
        <form class="add-comment-form">
            
            <input class="textarea form-control m-3 ibm-text" id="comment-content" placeholder="Comment...">
            <input type="number" style="display: none;" id="blog-id" value="{{blog.id}}" readonly aria-readonly="true">
            <button class="button ibm-text" type="submit">Add new Comment</button>
        </form>
    </div>
</div>

<script src="/js/adds.js"></script>